@charset "UTF-8";

@media screen and (min-width: 600px) {
    body {
        font-size: 16px;
    }

    main {

        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
    }

    section {
        width: 604px;
        height: 456px;
    }

    section article {
        padding: 30px;
    }

    section img {
        width: 50%;
        height: 100%;
        float: left;
        margin-right: 30px;
    }

    section h1 {
    color: var(--cor4);
    font-weight: 500;
    font-size: 0.8em;
    letter-spacing: 5px;

    margin-bottom: 20px;
    }

    section p {
        color: var(--cor4);
        margin-bottom: 30px;
        line-height: 1.5em;
        font-size: 0.9em;
    }

    section h2 {
        margin-bottom: 20px;
        line-height: 1em;
    }

    h2, .price {
        color: var(--cor3);
        font-family: var(--fonte2);
        font-size: 2.1em;
    }

    .preço {
        display: flex;
        justify-content: flex-start;
        align-items: center;

        margin-bottom: 40px;
    }

    .desconto {
        font-family: var(--fonte1);
        text-decoration: line-through;
        font-weight: 400;
        font-size: 0.9em;
        color: var(--cor4);
    }

    .price {
        color: var(--cor1);
        font-weight: 800;
        margin-right: 25px;
    }

    .button {
        display: flex;
        justify-content: center;
        align-items: center;


        background-color: var(--cor1);
        color: var(--cor6);
        padding: 13px;
        border-radius: 5px;
        height: 40px;

        font-size: 0.9em;
        font-weight: 600;
    }

    .button:hover {
        background-color: var(--cor2);
        cursor: pointer;
    }

    .material-symbols-outlined {
        font-size: 20px;
        margin-right: 10px;
    }
}